---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageUpdateAutomation
metadata:
  name: www-delta-and-beta
  namespace: flux-system
spec:
  interval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: flux@delta-and-beta.com
        name: Flux
      messageTemplate: 'chore: update www-delta-and-beta to {{range .Changed.Changes}}{{println .NewValue}}{{end}}'
    push:
      branch: main
  update:
    path: ./clusters/homelab/apps
    strategy: Setters
